*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px !important;
}
